body{
    background-color: pink;
    
}
h1{
    text-align: center;
    text-decoration: underline;
    color: red;
}
h2{
    text-align: center;

}

p{
    font-style: italic;
}
#l1
{
    color:red;

}
.l2{
    color:sienna;
    text-decoration: underline;
}
