body{
background-image: linear-gradient(90deg, rgba(25, 136, 247, 1) 0%, rgba(247, 25, 136, 1) 100%);

}
h1{
    text-align: center;
    color:springgreen
}
h2{
    text-align: center;
    color:rgba(223, 219, 15, 0.925);
}
p{
    text-align: center;
    color:floralwhite;
}

    


