.M{
    background-color: rgb(252, 225, 71);
}
.Tu{
    background-color: pink;
}
.W{
    background-color: rgb(106, 209, 106);

}
.Th{
    background-color: orange;
}
.F{
    background-color: lightblue;

}
.Sa{
    background-color: plum;

}
.Su{
    background-color: rgb(240, 95, 95);
}